<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ffw_sg2_follower">
  <xacro:property name="meshes_file_direction" value="package://ffw_description/meshes/$(arg model)" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="model" default="ffw_sg2_rev1_follower" />

  <xacro:include filename="$(find ffw_description)/urdf/common/follower/ffw_follower_body.xacro" />

  <xacro:include filename="$(find ffw_description)/urdf/common/rh_p12_rn_a/rh_p12_rn_a.urdf.xacro" />

  <xacro:include filename="$(find ffw_description)/ros2_control/$(arg model)/ffw_sg2_follower.ros2_control.xacro" />
  <xacro:include filename="$(find ffw_description)/ros2_control/$(arg model)/ffw_sg2_base.ros2_control.xacro" />
  <xacro:include filename="$(find ffw_description)/ros2_control/$(arg model)/ffw_sg2_sensor.ros2_control.xacro" />

  <xacro:include filename="$(find ffw_description)/gazebo/$(arg model)/ffw_sg2_follower.gazebo.xacro" />

  <link name="$(arg prefix)base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${meshes_file_direction}/base_mobile_assy.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver">
        <color rgba="0.75 0.75 0.75 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${meshes_file_direction}/base_mobile_assy.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="100.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <link name="$(arg prefix)lift_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${meshes_file_direction}/lift_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver">
        <color rgba="0.75 0.75 0.75 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${meshes_file_direction}/lift_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>
  <joint name="$(arg prefix)lift_fixed_joint" type="fixed">
    <parent link="$(arg prefix)base_link"/>
    <child link="$(arg prefix)lift_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

  <xacro:ffw_follower_body parent="$(arg prefix)base_link" prefix="$(arg prefix)">
    <origin xyz="-0.0199 0 1.4316" rpy="0 0 0" />
  </xacro:ffw_follower_body>

  <xacro:rh_p12_rn_a parent="$(arg prefix)arm_l_link7" prefix="$(arg prefix)gripper_l_">
    <origin xyz="0 0 -0.078" rpy="0 3.14159265359 3.14159265359"/>
  </xacro:rh_p12_rn_a>

  <xacro:rh_p12_rn_a parent="$(arg prefix)arm_r_link7" prefix="$(arg prefix)gripper_r_">
    <origin xyz="0 0 -0.078" rpy="0 3.14159265359 3.14159265359"/>
  </xacro:rh_p12_rn_a>

  <xacro:macro name="solid_cylinder_inertia" params="mass_val radius_val length_val">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="${mass_val}" />
      <xacro:property name="r_sq" value="${radius_val * radius_val}" />
      <xacro:property name="l_sq" value="${length_val * length_val}" />
      <xacro:property name="ixx_iyy_val" value="${(1.0/12.0) * mass_val * (3 * r_sq + l_sq)}" />
      <xacro:property name="izz_val" value="${0.5 * mass_val * r_sq}" />
      <inertia
        ixx="${ixx_iyy_val}" ixy="0.0" ixz="0.0"
        iyy="${ixx_iyy_val}" iyz="0.0"
        izz="${izz_val}" />
    </inertial>
  </xacro:macro>

  <joint name="$(arg prefix)left_wheel_steer" type="revolute">
      <parent link="$(arg prefix)base_link"/>
      <child link="$(arg prefix)left_wheel_steer_link"/>
      <origin xyz="0.1371 0.2554 0.27555" rpy="0 0 0"/>
      <axis xyz="0 0 1" />
      <limit effort="10000.0" velocity="100.0000" lower="-6.28" upper="6.28" />
      <dynamics damping="0.6" friction="0.05"/>
  </joint>
  <link name="$(arg prefix)left_wheel_steer_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${meshes_file_direction}/left_wheel_steer_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver">
        <color rgba="0.75 0.75 0.75 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${meshes_file_direction}/left_wheel_steer_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <inertial>
       <origin xyz="9.802769300e-03 -5.471240900e-02 -1.376533800e-01" />
       <mass value="7.550951000e-01" />
       <inertia ixx="2.797326600e-03" ixy="-3.290807800e-05" ixz="-1.950671800e-04"
       iyy="3.582264900e-03" iyz="-2.853290700e-04"
       izz="1.683594000e-03" />
    </inertial>
  </link>
  <joint name="$(arg prefix)left_wheel_drive" type="continuous">
      <parent link="$(arg prefix)left_wheel_steer_link"/>
      <child link="$(arg prefix)left_wheel_drive_link"/>
      <origin xyz="0 0 -0.28905" rpy="-1.570796327 0 0"/>
      <axis xyz="0 0 1" />
  </joint>
  <link name="$(arg prefix)left_wheel_drive_link">
    <xacro:solid_cylinder_inertia mass_val="1.8498940" radius_val="0.0825" length_val=".01" />

    <visual>
      <origin xyz="0.0 0.0 -0.0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.01" radius="0.0825"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 -0.0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.01" radius="0.0825"/>
      </geometry>
    </collision>
  </link>

  <joint name="$(arg prefix)right_wheel_steer" type="revolute">
      <parent link="$(arg prefix)base_link"/>
      <child link="$(arg prefix)right_wheel_steer_link"/>
      <origin xyz="0.1371 -0.2554 0.27555" rpy="0 0 0"/>
      <axis xyz="0 0 1" />
      <limit effort="10000.0" velocity="100.0000" lower="-6.28" upper="6.28" />
      <dynamics damping="0.6" friction="0.05"/>
  </joint>
  <link name="$(arg prefix)right_wheel_steer_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${meshes_file_direction}/right_wheel_steer_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver">
        <color rgba="0.75 0.75 0.75 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${meshes_file_direction}/right_wheel_steer_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <inertial>
       <origin xyz="9.802728600e-03 5.471240900e-02 -1.376533400e-01" />
       <mass value="7.550951000e-01" />
       <inertia ixx="2.797322900e-03" ixy="3.290833300e-05" ixz="-1.950642500e-04"
       iyy="3.582262300e-03" iyz="2.853288400e-04"
       izz="1.683595100e-03" />
    </inertial>
  </link>
  <joint name="$(arg prefix)right_wheel_drive" type="continuous">
      <parent link="$(arg prefix)right_wheel_steer_link"/>
      <child link="$(arg prefix)right_wheel_drive_link"/>
      <origin xyz="0 0 -0.28905" rpy="-1.570796327 0 0"/>
      <axis xyz="0 0 1" />
  </joint>
  <link name="$(arg prefix)right_wheel_drive_link">
    <xacro:solid_cylinder_inertia mass_val="1.8498940" radius_val="0.0825" length_val=".01" />

    <visual>
      <origin xyz="0.0 0.0 -0.0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.01" radius="0.0825"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 -0.0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.01" radius="0.0825"/>
      </geometry>
    </collision>
  </link>

  <joint name="$(arg prefix)rear_wheel_steer" type="revolute">
      <parent link="$(arg prefix)base_link"/>
      <child link="$(arg prefix)rear_wheel_steer_link"/>
      <origin xyz="-0.2899 0 0.27555" rpy="0 0 0"/>
      <axis xyz="0 0 1" />
      <limit effort="10000.0" velocity="100.0000" lower="-6.28" upper="6.28" />
      <dynamics damping="0.6" friction="0.05"/>
  </joint>
  <link name="$(arg prefix)rear_wheel_steer_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${meshes_file_direction}/rear_wheel_steer_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="silver">
        <color rgba="0.75 0.75 0.75 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${meshes_file_direction}/rear_wheel_steer_link.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
    <inertial>
       <origin xyz="9.802728600e-03 5.471240900e-02 -1.376533400e-01" />
       <mass value="7.550951000e-01" />
       <inertia ixx="2.797322900e-03" ixy="3.290833300e-05" ixz="-1.950642500e-04"
       iyy="3.582262300e-03" iyz="2.853288400e-04"
       izz="1.683595100e-03" />
    </inertial>
  </link>
  <joint name="$(arg prefix)rear_wheel_drive" type="continuous">
      <parent link="$(arg prefix)rear_wheel_steer_link"/>
      <child link="$(arg prefix)rear_wheel_drive_link"/>
      <origin xyz="0 0 -0.28905" rpy="-1.570796327 0 0"/>
      <axis xyz="0 0 1" />
  </joint>
  <link name="$(arg prefix)rear_wheel_drive_link">
    <xacro:solid_cylinder_inertia mass_val="1.8498940" radius_val="0.0825" length_val=".01" />

    <visual>
      <origin xyz="0.0 0.0 -0.0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.01" radius="0.0825"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 -0.0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.01" radius="0.0825"/>
      </geometry>
    </collision>
  </link>

  <xacro:ffw_sg2_follower_system
    use_sim="$(arg use_sim)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"/>

  <xacro:ffw_sg2_base_system
    use_sim="$(arg use_sim)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"/>

  <xacro:ffw_sg2_sensor_system
    use_sim="$(arg use_sim)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"/>

  <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find ffw_bringup)/config/$(arg model)/ffw_sg2_follower_ai_hardware_controller.yaml</parameters>
      </plugin>
  </gazebo>

</robot>
